.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    width: 240px;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.input {
    padding: 5px;
    font-size: 17px;
}

.button {
    padding: 8px 55px;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 17px;
}

.submit {
    background-color: #6161e9;
}

.logout {
    background-color: #f72e2e;
}

